<h3>erlksnsakjdngf</h3>

<div class="container">
    <div class="row">
    <% @images.each do |image| %>
      <div class="col-md-3">
        <a href="<%= image_path(image)%>"><%= image_tag(image.attachment.url(:thumb), size: "255x255") %></a>
      </div>
    <% end %>
    </div>
</div>
